@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: antiquewhite;
}
.main-container {
    margin: 0 auto;
    background-color: red;
    width: 750px;
    height: 650px;
    border-radius: 60px;
}

.main-header {
    color: #f9d864;
    font-size: 55px;
    font-family: 'Lobster';
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    width: 590px;
    height: 405px;
    border: 5px solid antiquewhite;
    border-radius: 5px;
    background-color: #aaa;
}

.grid-item {
    border: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.knob {
    margin-top: 18px;
    margin-left: 75px;
    margin-right: 75px;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #f3d04f;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.knob:hover {
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);
}

.size {
    text-align: center;
    margin-top: 45px;
    color: #f9da69;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#slider {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: #f9d864;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid antiquewhite;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    cursor: pointer;
}

#output {
    margin-top: 5px;
    font-size: 30px;
}

