body {
    background-color: antiquewhite;
}
.main-container {
    margin: 0 auto;
    background-color: red;
    height: 500px;
    width: 500px;
    border-radius: 45px;
}

.main-header {
    color: #f9da69;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    width: 400px;
    height: 280px;
    border: 5px solid antiquewhite;
    border-radius: 5px;
    background-color: #aaa;
}

.grid-item {
    border: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.knob {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 45px;
    margin-bottom: auto;
    padding: 35px;
    border-radius: 50px;
    box-shadow: -5px 5px #aaa;
    background-color: antiquewhite;
}

.size {
    text-align: center;
    margin-top: 35px;
    color: #f9da69;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10%;
    border-radius: 5px;
    background: #f9da69;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid antiquewhite;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background-color: antiquewhite;
    cursor: pointer;
}

#output {
    margin-top: 5px;
}

